<h1>Questions:</h1>
<div *ngFor="let question of questions">
    <p *ngIf="!displayAnswersQ">{{question.question}}</p>
    <p *ngIf="displayAnswersQ">{{question.answer}}</p>       <!--NGif to show question OR answer-->
    <button (click)="showAnswerQ()">Show Answer</button>
    <button (click)="addFavQuestion(question.id)">Add to Favorites</button>
</div>
<app-adding-question (questionSave)="addQuestions($event)"></app-adding-question>

<div>
    <a [routerLink]="['/favorites']">Show Favorite Questions</a>
</div>

<!-- <router-outlet></router-outlet> -->